body {
  background-color: #F0F0F0; /* Color de fondo tono pastel */
}
.section-titulo {
  font-size: 24px; /* Tamaño de fuente más pequeño */
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif; /* Espacio inferior reducido */
}
.seccion-comentarios {
  position: fixed; /* Fijar la posición */
  bottom: 0; /* Al fondo de la pantalla */
  left: 0; /* A la izquierda de la pantalla */
  background-color: #F0F0F0; /* Color de fondo tono pastel */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px; /* Ancho máximo */
}
.clientes {
  background-color: #fff; /* Color de fondo blanco */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}
.testimonio {
  background-color: #fff; /* Color de fondo blanco */
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center; /* Centrar texto */
}
.testimonio p {
  margin-bottom: 5px; /* Espacio entre párrafos */
}